# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.log
*.sqlite3

# Virtual env
venv/
.env
.env.*

# Alembic
alembic/versions/__pycache__/

# Docker
pgdata/
*.db

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
